body{
    padding: 0;
    background-image: url("../img/2.webp");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    font-family:Font;
}
.inner{
    backdrop-filter: blur(2px); 
    border: #3a7fb3 solid 2px;
    border-radius: 20px;
    color: black;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: scale 0.3s;
}
.righton{
    height: 526px;
}
.righton,.rightinl{
    height: 250px;
}
.inner:hover{
    scale: 1.01;
}
.outer,.rightdown{
    display: flex;
    display: -moz-box; /* Firefox 17- */  
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
	display: -moz-flex; /* Firefox 18+ */  
	display: -ms-flexbox; /* IE 10 */ 
    /* br s height is 22px */
    gap:22px;
}
.icon{
    display: flex;
    display: -moz-box; /* Firefox 17- */  
	display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
	display: -moz-flex; /* Firefox 18+ */  
	display: -ms-flexbox; /* IE 10 */ 
    -webkit-box-pack: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 22px;
}
#icp
{
    text-align: center;
}
a:link,
a:visited {
    color: black;
}
@font-face
{
	font-family: Font;
	src: url('../font/HYBiRanTianTianQuanW-2.ttf');
}
@media screen and (min-width:800px) {
    body{
        margin: 100px;
        -webkit-box-pack: center;
        -ms-justify-content: center;
        -moz-justify-content: center;
        -o-justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    div{
        flex-grow: 1;
        -webkit-flex: 1; /* Chrome */
        -ms-flex: 1; /* IE 10 */
        flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* OLD - Firefox 19- */
    }
    .outer,.rightdown{
        flex-direction: row;
        -webkit-flex-direction:row;
        -ms-flex-direction: row;
        -moz-flex-direction: row;
        -o-flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .left > * {
        position: relative;
        top: 20%;
    }
    .righton > *,.rightinl > *{
        position: relative;
        top: 45%;
    }
    .music > *{
        top:20%;
    }
	#painter{
        position: absolute;
        top: 100%;
        left: 80%;
    }
}
@media screen and (max-width:800px) {
    body{
        margin: 10%;
    }
    .inner{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .outer,.rightdown{
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -o-flex-direction: column;
    }
	#painter{
        text-align: center;
    }
}
@media screen and (max-width:1029px) {
    h1{
        font-size: x-large;
    }
}
/* *{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
} */
