/* #progressbarouter{
    background-color: rgb(179, 178, 178);
    padding: 0;
    width: 80%;
    height: 10px;
    margin: 10% auto;
    border-radius: 10px;
    position: relative;
}
#progressbarinner{
    position: relative;
    background-color: rgb(244, 244, 82);
    height: 10px;
    width: 0;
    left: 0;
    border-radius: 10px;
}
#progressbarbutton{
    position: relative;
    background-color: rgb(244, 244, 82);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: right;
    scale: 180%;
    transition: opacity 0.3s;
    opacity: 0;
}
#progressbarouter:hover #progressbarbutton{
    opacity: 1;
} */
#audioimg{
    border-radius: 20px;
}